<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TungDevShop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <!-- CSS only -->
    <link rel="stylesheet" href="/css/admin.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/font/fontawesome-free-5.14.0-web/css/all.min.css">
</head>


<body>

    <div class="wrapper">
        <div class="container">
            <div class="dashboard">
                <div class="left">
                    <span class="left__icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <div class="left__content">
                        <div class="left__logo">ADMIN</div>
                        <div class="left__profile">
                            <div class="left__image"><img src="/img/avtAdmin1.jpg" alt=""></div>
                            <p class="left__name">Xuan Tung</p>
                        </div>
                        <ul class="left__menu">
                            <li class="left__menuItem">
                                <a href="index.html" class="left__title"><img src="/assets/icon-dashboard.svg"
                                        alt="">Dashboard</a>
                            </li>
                            <li class="left__menuItem">
                                <div class="left__title"><img src="/assets/icon-tag.svg" alt="">Sản Phẩm<img
                                        class="left__iconDown" src="/assets/arrow-down.svg" alt=""></div>
                                <div class="left__text">
                                    <a class="left__link" href="/admin/add-product">Chèn Sản Phẩm</a>
                                    <a class="left__link" href="/admin/view-product">Xem Sản Phẩm</a>
                                </div>
                            </li>
                            <li class="left__menuItem">
                                <div class="left__title"><img src="/assets/icon-edit.svg" alt="">Thương Hiệu<img
                                        class="left__iconDown" src="/assets/arrow-down.svg" alt=""></div>
                                <div class="left__text">
                                    <a class="left__link" href="insert_p_category.html">Chèn Thương Hiệu</a>
                                    <a class="left__link" href="view_p_category.html">Xem Thương Hiệu</a>
                                </div>
                            </li>
                            <!-- <li class="left__menuItem">
                                <div class="left__title"><img src="assets/icon-book.svg" alt="">Thể Loại<img class="left__iconDown" src="assets/arrow-down.svg" alt=""></div>
                                <div class="left__text">
                                    <a class="left__link" href="insert_category.html">Chèn Thể Loại</a>
                                    <a class="left__link" href="view_category.html">Xem Thể Loại</a>
                                </div>
                            </li>
                            <li class="left__menuItem">
                                <div class="left__title"><img src="assets/icon-settings.svg" alt="">Slide<img class="left__iconDown" src="assets/arrow-down.svg" alt=""></div>
                                <div class="left__text">
                                    <a class="left__link" href="insert_slide.html">Chèn Slide</a>
                                    <a class="left__link" href="view_slides.html">Xem Slide</a>
                                </div>
                            </li>
                            <li class="left__menuItem">
                                <div class="left__title"><img src="assets/icon-book.svg" alt="">Coupons<img class="left__iconDown" src="assets/arrow-down.svg" alt=""></div>
                                <div class="left__text">
                                    <a class="left__link" href="insert_coupon.html">Chèn Coupon</a>
                                    <a class="left__link" href="view_coupons.html">Xem Coupons</a>
                                </div>
                            </li> -->
                            <li class="left__menuItem">
                                <a href="view_customers.html" class="left__title"><img src="/assets/icon-users.svg"
                                        alt="">Khách Hàng</a>
                            </li>
                            <li class="left__menuItem">
                                <a href="view_orders.html" class="left__title"><img src="/assets/icon-book.svg"
                                        alt="">Đơn
                                    Đặt Hàng</a>
                            </li>
                            <!-- <li class="left__menuItem">
                                <a href="edit_css.html" class="left__title"><img src="assets/icon-pencil.svg" alt="">Chỉnh CSS</a>
                            </li> -->
                            <li class="left__menuItem">
                                <div class="left__title"><img src="/assets/icon-user.svg" alt="">Admin<img
                                        class="left__iconDown" src="/assets/arrow-down.svg" alt=""></div>
                                <div class="left__text">
                                    <a class="left__link" href="insert_admin.html">Chèn Admin</a>
                                    <a class="left__link" href="view_admins.html">Xem Admins</a>
                                </div>
                            </li>
                            <li class="left__menuItem">
                                <a href="" class="left__title"><img src="/assets/icon-logout.svg" alt="">Đăng Xuất</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <div class="right__content">
                        <div class="right__title">Bảng điều khiển</div>
                        <p class="right__desc">Xem sản phẩm</p>
                        <div class="right__table">
                            <div class="right__tableWrapper">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Mã sản phẩm</th>
                                            <th>Tên sản phẩm</th>
                                            <th>Hình ảnh</th>
                                            <th>Giá SP</th>
                                            <th>Số lượng</th>
                                            <th>Sửa</th>
                                            <th>Xoá</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {{#each docs}}
                                        <tr>
                                            <td data-label="STT">{{this.MaSP}}</td>
                                            <td data-label="Mã sản phẩm">{{this.MaSP}}</td>
                                            <td data-label="Tên sản phẩm">{{this.TenSP}}</td>
                                            <td data-label="Hình ảnh"><img src="/img/{{this.HinhAnh}}" alt=""></td>
                                            <td data-label="Giá SP">{{this.GiaBan}} ₫</td>
                                            <td data-label="Số Lượng">{{this.SoLuong}}</td>

                                            <td data-label="Sửa" class="right__iconTable"><a
                                                    href="/admin/edit-product/{{this.MaSP}}"><img
                                                        src="/assets/icon-edit.svg" alt=""></a></td>
                                            <td data-label="Xoá" class="right__iconTable"><a
                                                    href="/admin/delete-product/{{this.MaSP}}"><img
                                                        src="/assets/icon-trash-black.svg" alt=""></a></td>
                                        </tr>
                                        {{/each}}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="total-product">
                            <span>Tổng sản phẩm : {{totalProduct}}</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</body>
<script>
    window.addEventListener("load", event => {

        // Expand Left Side
        var icon = document.querySelector('.left__icon'),
            left = document.querySelector('.left');

        icon.addEventListener('click', expand);

        function expand() {
            if (left.classList.contains('show')) {
                left.classList.remove('show')
            } else {
                left.classList.add('show')
            }
        }

        var menuItem = document.querySelectorAll('.left__menuItem');

        menuItem.forEach(function (el) {
            el.addEventListener("click", openMenu);
        });

        function openMenu(event) {
            var currentmenuItem = event.currentTarget;

            if (currentmenuItem.classList.contains('open')) {
                currentmenuItem.classList.remove('open');
            } else {
                currentmenuItem.classList.add('open');
            }
        };
    })
</script>

</html>