
    <section id="mainbanner">
        <a href="#" class="mainbanner--link">
            <img src="/img/banner2.jpg" alt="bannermain" width="100%" >
        </a>
    </section>
   
    <div class="container mt-4 ">
        <div class="row">
            {{#each docs}}
                <div class="col-xl-3 mt-4">
                    <div class="home-product">
                        <div class="home-product-header">
                            <a href="/products/{{this.slug}}" class="home__product-image-link">
                                <img src="/img/yz700v2black.png" alt="" class="home__product-image">

                            </a>
                                
                        </div>
                        <div class="home-product-content">
                            {{!-- <ul class="product-color-list">
                                <li class="product-color-item"></li>
                                <li class="product-color-item"></li>
                                <li class="product-color-item"></li>
                                <li class="product-color-item"></li>
                            </ul> --}}
                            <a href="/products/{{this.slug}}"class="home-product-name">{{this.name}}</a>
                            <div class="home-product-price">
                                <span class="home-product-price--current">{{this.pricecurrent}} ₫ </span>
                                <span class="home-product-price--old">{{this.priceold}} ₫</span>
                            </div>
                           
                            <div class="show-details">
                                <a href="/products/{{this.slug}}">Xem Chi Tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
            
            
        </div>
    </div>