
    <section id="mainbanner">
        <a href="#" class="mainbanner--link">
            <img src="/img/banner2.jpg" alt="bannermain" width="100%"  >
        </a>
        <a href="#" class="mainbanner--link">
            <img src="/img/banner3.jpg" alt="" width="100%" >
        </a>
    </section>
   
    <div class="container ">
        <div class="row">
            {{#each docs}}
                <div class="col col-lg-3 col-md-4 col-sm-6 mt-24">
                    <div class="home-product">
                        <div class="home-product-header">
                            <a href="/products/{{this.slug}}" class="home__product-image-link">
                                <img src="/img/yz700v2black.png" alt="" class="home__product-image">

                            </a>
                                
                        </div>
                        <div class="home-product-content">
                            
                            <a href="/products/{{this.slug}}"class="home-product-name">{{this.name}}</a>
                            <div class="home-product-price">
                                <span class="home-product-price--current">{{this.pricecurrent}} ₫ </span>
                                <span class="home-product-price--old">{{this.priceold}} ₫</span>
                            </div>
                           
                            <div class="button__product-action">
                                <a class="btn__product button__product-action--show-details" href="/products/{{this.slug}}">Xem Chi Tiết</a>
                                <a class="btn__product button__product-action--add-cart" href="#">Thêm vào giỏ</a>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}          
        </div>
    </div>